.to-do-form {
  margin-top: 60px;
}

.to-do-form input {
  border: 2px solid black;
  width: 530px;
  padding: 25px 30px;
  margin-right: 14px;
  background-color: #FBFBFB;
  font-size: 1.1rem;
  -webkit-transition: ease-in-out 100ms;
  transition: ease-in-out 100ms;
}

.to-do-form button {
  padding: 25px 30px;
  border-radius: 3px;
  border: unset;
  cursor: pointer;
  background-color: #CEEF86;
  border: 2px solid #CEEF86;
  font-size: 1.1rem;
}

.to-do-form button:hover {
  background-color: #c5ec6f;
}
