$inputPadding: clamp(15px, 2vw, 25px) clamp(15px, 2vw, 30px);
$margin: 14px;
$fontSize: 1.1rem;
$themeGreen: #ceef86;

.to-do-form {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;

  input {
    border: 2px solid black;
    flex-grow: 1;
    padding: $inputPadding;
    margin-right: $margin;
    background-color: #fbfbfb;
    font-size: $fontSize;
    transition: ease-in-out 100ms;
  }

  button {
    padding: $inputPadding;
    border-radius: 3px;
    border: unset;
    cursor: pointer;
    background-color: $themeGreen;
    border: 2px solid $themeGreen;
    font-size: $fontSize;
    white-space: nowrap;
    flex-basis: 0;
    flex-grow: 1;

    &:hover {
      background-color: darken($themeGreen, 5);
    }
  }
}
